# Data Types and Structeres Questions

1. What are data structures, and why are they important?
   - Data structures are wates of organizing amd storing data to make it easy to access and modify. They are important because they improve efficiency in term of speed and memory usage in program.

   **Example**: An array is a data structure that stores elements in a fixed-size, indexed list, making it easy to access element quickly by their index.

2.  Explain the difference between mutable and immutable data types with examples.
   - Mutable data types can be changed after creation, while immutable data types cannot.

   **Example**:
   - **Mutable**: A list in Python can be modified by adding or removing element.
   - **Immutable**: a tuple in Python cannot be changed once it's created.

3. What are the main differences between lists and tuples in Python?
  - The main differences between lists and tuples in Python are:
    - **Lists** are mutable (can be changed), while **tuples** are immutable (cannot be changed).
    - Lists use sequare brackets [], and tupel use parentheses ().

In [ ]:
# List:

my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

# Tuple:

my_tuple = (1, 2, 3)
my_tuple.append(4)
print(my_tuple)

[1, 2, 3, 4]

AttributeError: 'tuple' object has no attribute 'append'

4. Describe how dictionaries store data.
  - Dictionaries store data as key-value pair, where each key is unique and maps to a specific value.

In [ ]:
my_dict = {'name': 'Sameer', 'age': 20}
print(my_dict['name'])

Sameer

Here, 'name' and 'age' are keys, and 'sameer' and 20 are theircorresponding values.

5. Why might you use a set instead of a list in Python?
  - You might use a set intead of a list when you need to store unique values and don't care about the order of element. sets automatically remove duplicates.

In [ ]:
my_set = {1, 2, 3, 3, 4}
print(my_set) # The set will store {1, 2, 3, 4}, removing the duplicate 3.

{1, 2, 3, 4}

6. What is a string in Python, and how is it different from a list?
   - A string on Python is a sequence of characters, while a list is an ordered collection of itms that can be of different data type. Strings are immutable,while lists are mutable.

In [1]:
# string

my_string = "Hello"
print(my_string[0])

# list

my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

H
[1, 2, 3, 4]

7. How do tuples ensure data integrity in Python?
   - Tuples ensure data integrity in Python by being immutable,meaning their element cannot be changed after creation. This prevents accidental modification of data.

In [3]:
my_tuple = (1, 2, 3)
my_tuple[0] = 4

TypeError: 'tuple' object does not support item assignment

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structere that stores key-value pairs and uses a hash function to quickly access values based on key. In Python, dictionaries are implemented using hash tables.

  The dictionary uses a hash table to store and quickly retieve values like.

In [4]:
my_dict = {'name': 'Sameer', 'age': 20}
print(my_dict['name'])

Sameer

9. Can lists contain different data types in Python?
  - yes, list can contain different data types in Python.

In [6]:
my_list = [1, 'hello', 3.14, True]
print(my_list)     # This list contain an integer, string, float, and boolean

[1, 'hello', 3.14, True]

10. Explain why strings are immutable in Python.
    - Strings are immutable in Python to ensure data integrity and improve performance by allowing optimizations like memory sharing. Once created,their contents cannot be changed.

In [8]:
my_string = "Hello"
my_string[0] = 'J'

TypeError: 'str' object does not support item assignment

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries offer faster lookups by key, making them efficient than lists for tasks where you need to access data using a specific identifier.

    **Example**:

    if you want to find the age of a person by their name, a dictionary is more efficient:

In [10]:
person = {'Alice': 25, 'Bob': 30}
age = person['Alice']

12. Describe a scenario where using a tuple would be preferable over a list?
    - A tuple is preferable when you need to store data that should not be modified,ensuring data integrity.

    **Example**:
   - Storing coordinates of a point:
       - coordinates = (10, 20)        
       since the coordinates should remain constat, using a tuple ensures they cannot be a accidentally changed.

13. How do sets handle duplicate values in Python?
    - Sets  automamatically remove duplicate value,ensuring all elements are unique.

In [11]:
my_set = {1, 2, 3, 4, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

14. How does the “in” keyword work differently for lists and dictionaries?
   - In a list,the "in" keyword checks if a value exists in the list. In a dictionary, it checked if a key exists.

In [12]:
# List

my_list = [1, 2, 3]
print(1 in my_list)

# Dictionary

my_dict = {'name': 'Sameer', 'age': 20}
print('name' in my_dict)

True
True

15. Can you modify the elements of a tuple? Explain why or why not.
    - No, you connot modify the elements of a tuple because tuples are immutable.

In [13]:
my_tuple = (1, 2, 3)
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

16. What is a nested dictionary, and give an example of its use case?
   - A nested dictionary is a dictionary where the values are other dictionaries,allowing for multi-level data storage.

In [14]:
students = {
    'Alice': {'age': 20, 'grade': 'A'},
    'Bob': {'age': 21, 'grade': 'B'}
}

print(students['Alice']['grade'])

A

Use case: Storing student information, where each studen's details are stored in a nested dictionary.

17. Describe the time complexity of accessing elements in a dictionary.
    - The time complaxity of accessing elements in a dictionary is **O**(1), meaning it takes constant time regardless of the size of the dictionary.

18. In what situations are lists preferred over dictionaries?
    - Lists are preferred over dictionaries when you need to store an ordered collection of items or when the data doesn't need to be accessed by a key.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers[2])

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
   - Dictionaries are considered unoredered because the key-valuee pairs are not stored in a specific sequence.This means that data retrieval is based on keys,not on the order of insertion.

In [15]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

Even if you insert items in a certain order,the order of key-value pairs may not be the same when iterating over the dictionary.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - The different between a list and a dictionary in data retrieval is that in a list, elements are accessed by index, while in a dictionary, elements are accessed by key.

In [16]:
#list

my_list = [10, 20, 30]
my_list[1]

#Dictionary

my_dict = {'a': 10, 'b': 20, 'c': 30}
my_dict['b']

20

# Practical Questions

1.: Write a code to create a string with your name and print it.

In [ ]:
name = "Sameer Sherasiya"
print(name)

Sameer Sherasiya

2. Write a code to find the length of the string "Hello World".

In [ ]:
string = "Hello World"
print(len(string))

11

3. Write a code to slice the first 3 characters from the string "Python Programming.

In [ ]:
string = "Python Programming"
print(string[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
string = "hello"
print(string.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
tuple = (10, 20, 30)
print(tuple)

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
numbers = (1, 2, 3, 2, 4, 2)
print(numbers.count(2))

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
fruits = ('apple', 'orange', 'banana')
print('banana' in fruits)

True

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
numbers = {1, 2, 3, 4, 5}
print(numbers)

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
numbers = {1, 2, 3, 4}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
tuple = (10, 20, 30)
print(tuple)

(10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
numbers = (1, 2, 3, 2, 4, 2)
print(numbers.count(2))

3

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
fruits = ('apple', 'orange', 'banana')
print('banana' in fruits)

True

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
number_set = {1, 2, 3, 4, 5}
print(number_set)

{1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
numbers = {1, 2, 3, 4}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 6}